<div id="main">
  <div class="alert alert-warning" [hidden]="!wrongLogin">
    Username oder Passwort stimmen nicht.
  </div>
  <form #form="ngForm">
    <div class="form-group">
      <label for="username" >Username</label>
      <input type="text" required class="form-control" placeholder="Username" [(ngModel)]="username" name="name">
    </div>

    <div class="form-group">
        <label for="password">Passwort</label>
        <input type="password" required class="form-control" placeholder="Passwort" [(ngModel)]="password" name="passwort">
      </div>
  </form>

  <button [disabled]="!form.form.valid" type="submit" class="btn btn-success" (click)="onSubmit()">Login</button>
</div>
