<div class="indexer">
    <ul>
        <li id="bar" (click)="collapse = !collapse">
          <a>
            <div class="icon-bar"></div>
            <div class="icon-bar"></div>
            <div class="icon-bar"></div>
          </a>
        </li>
        <li id="logo">
          <div class="logo">{{title}}</div>
        </li>
        <li *ngFor="let l of links" class="nav-items" [ngClass]="{'collapse': !collapse}">
          <a [routerLink]="l.link">{{l.name}}</a>
        </li>
      </ul>
</div>
<div class="space"></div>
<router-outlet></router-outlet>

<footer>
    © 2003-2017 - 4Fansites, Weiterverwendung von Inhalten oder Grafiken nur mit Erlaubnis.

    Diablo 3 and Blizzard Entertainment are trademarks or registered trademarks of Blizzard Entertainment in the U.S. and/or other countries.
</footer>
