@import "../../../../node_modules/bootstrap/dist/css/bootstrap.css";

div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  twd-blog-preview {
    display: block;
  }
}
